{
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-flow-strip-types",
    ["transform-inline-environment-variables", {
      "include": [
        "BABEL_ENV"
      ]
    }],
    ["minify-dead-code-elimination", {
      "optimizeRawSize": true
    }]
  ],
  "env": {
    "lib": {
      "plugins": [
        "babel-plugin-transform-class-properties"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 5 versions", "ie 9", "defaults"]
            },
            "include": ["transform-es2015-classes"],
            "useBuiltIns": true
          }
        ]
      ]
    },
    "mjs": {
      "plugins": ["transform-class-properties"],
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 6
            },
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "node8": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "8.0.0"
            },
            "loose": true,
            "modules": "commonjs"
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
